.order_form_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;

    .steps_container{
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid #c1bbbb;
        padding-bottom: 10px;

        .text_container{
            text-align: center;

            h4,p{
                margin: 0;
            }

            p{
                color: #453f3f;
            }
        }
    }
}

.work_description_container{
    width: 100%;
    min-height: 200px;

    .textarea{
        border-radius: 20px;
        width: 100%;
        padding-top: 5px;
        padding-left: 5px;
        border-color: #d6d5d5;
    }
}

.cliente_container{
    display: flex;
    align-items: center;

    .text_container{
        max-width: 300px;
        margin-top: 10px;
        margin-right: 10px;
    }

    h4{
        margin: 10px 0;
    }
}

.photo_upload_container{

    .icon{
    color: white;
    border-radius: 15px;
    border: 2px solid #fff;
    }

    .icon-green{
        background-color: #0b8e0b;
    }

    .icon-red{
        float: right;
        margin: 3px;
        color: #e53935;
        background-color: #fff;
        z-index: 2;
        width: 15px;
        height: 15px;
    }

    .images_container{
        display: flex;
        justify-content: center;
        width: 300px;
        height: 150px;
        flex-wrap: wrap;
        overflow: scroll;

        .image_container{
            width: 75px;
            height: 60px;
            margin: 3px 10px;
            border-radius: 10px;
            overflow: hidden;
            border: 1px solid #d6d5d5;

            .image{
                width: 75px;
                height: 60px;
                z-index: 1;
            }
        }
    }
}