body{
    margin: 0
}

#root{
    height: 100vh;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
        width: 200px;
        height: 75px;
        margin: 0 15px;
    }

    h4{
        margin-right: 15px;
        color: #01256e;
    }
}

.route-container{
    display: flex;
    min-height: 100%;
    flex-direction: column;
    margin-top: 55px;
    justify-content: space-between;
    background-color: #eeeded;

    .page-container{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(238, 237, 237);    
    }
}